
.offscreen {
  position: absolute;
  height: 100px;
  width: 100px;
  right: -50px;
  top: 50px;
  /* color: blue */
}

.instructions {
  position: relative;

}

.note {
  font-size: 12px;
  /* color:red; */
  text-align: left;
  color: red;
}

.mb2 {
  overflow: hidden;
  position: relative;
}

.errmsg {
 color: red;
 border: solid 2px pink;
 padding: 8px;
 border-radius: 7px;
}

.button {
  border-radius: 6px;
  color:#f8f8ff;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: .5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  background-color: #355c7d;
}

.button:hover {
  color:white;
  opacity: .7;
  transition: color .15s ease-in;
}
