
#main {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  /* height: 100%; */
}


#content {
  text-align: center;
  position: relative;
  background-color: aliceblue;
  padding-top: 3%;
}


#nav-container {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;

  background-color: white;
}

#scroll {
  position: relative;
  overflow:scroll;
  overflow-x:hidden;
}

#all-nav-items {
  margin-top: 10px;
}


#footer-container {
  position: fixed;
  bottom: 0;
  height: 7%;
  width: 100%;
  background-color: aliceblue;
  padding-top: 7px;
}

#how-it-works {
  margin-left: 5%;
  margin-right: 5%;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.display-links {
  color: #CDECFF;
}

.display-links:hover {
  color: lightblue;
  filter: brightness(200%)
}

#provider-name-all-cards {
  padding-left: auto;
  padding-right: auto;
  font-size: 1em;
  font-weight: 500;
  white-space: nowrap;
}

#all-providers {
  padding-top: 10%;
}

.provider-data-all-cards {
  font-size: .9em;
}

#create {
  margin-left: 5px;
}

.button {
  border-radius: 6px;
  color:#f8f8ff;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: .5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  background-color: #355c7d;
}

.button:hover {
  color:white;
  opacity: .7;
  transition: color .15s ease-in;
}


#account-buttons {
  margin-top: 12%;
}