nav {
  top: 10px;
  text-align: center;
  padding-top: 10px;
}

#nav-container {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#all-nav-items {

}

/* db dt-l w-100 border-box pa3 ph5-l" */

/* db dtc-l v-mid w-100 w-75-l tc tr-l */